<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p>Agregue un nuevo libro:</p>
    <form action="/" method="post">
        <label for="nombre">Título del libro:</label><br>
        <input type="text" id="nombre" name="titulo" ><br>
        <label for="autor">Autor del libro:</label><br>
        <input type="text" id="autor" name="autor"><br>
        <label for="puntaje">Puntuación:</label><br>
        <input type="text" id="puntaje" name="puntaje" ><br><br>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>